<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 更改web默认icon -->
    <link rel="icon" type="image/x-icon" href="./silkBagImg/trip.ico" />
    <title>旅游—锦囊</title>

    <!-- 引入bootstrap -->
    <link rel="stylesheet" href="../bootstrap/bootstrap.css">
    <!-- 引入jQuery -->
    <script src="../jquery/jquery-3.5.1.js"></script>

    <script src="../bootstrap/bootstrap.js"></script>
    <!-- 引入swiper -->
    <link rel="stylesheet" href="../swiperBundle/swiper-bundle.min.css">
    <script src="../swiperBundle/swiper-bundle.min.js"></script>
    <!-- 引入vue -->
    <script src="../vue/vue.js"></script>
    <!-- 引入style -->
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="bigbox">
        <!-- 导航条 -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img :src="logoImg" alt="">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="../tripHome/home.html" style="color: #fff;font-weight: 700;">首页</a></li>
                        <li><a href="#" style="color: #fff;font-weight: 700;">目的地</a></li>
                        <li><a href="#" style="color: #8cc418;font-weight: 700;">锦囊</a></li>
                        <li><a href="../tripHotel/hotel.html" style="color: #fff;font-weight: 700;">酒店</a></li>
                        <li><a href="#" style="color: #fff;font-weight: 700;">商城</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" style="color: #fff;font-weight: 700;">注册</a></li>
                        <li><a href="#" style="color: #fff;font-weight: 700;">登录</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="nullRow1"></div>
        <div class="container">
            <!-- 锦囊 -->
            <div class="silkNav row">
                <div class="leftSilk">
                    <span>锦囊</span>
                </div>

                <div class="search" style="text-align: right;">
                    <img :src="searchImg" alt="">
                    <input type="text" placeholder="搜索旅游锦囊">
                    <button>×</button>
                </div>
            </div>
            <div class="nullRow1"></div>
            <div class="silkCenter row">
                <!-- 左侧导航 -->
                <ul class="leftNav">
                    <li v-for="(item,index) in areaTxt" :key="index"><a href="#">{{item.name}}</a></li>
                </ul>
                <!-- 轮播图 -->
                <div class="swipe">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for="(item,index) in slideImg">
                                <img :src="item.src" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 编辑推荐 -->
            <div class="nullRow2"></div>
            <div class="recommend row">
                <h4>编辑推荐</h4>
                <div class="col-md-2" v-for="(item,index) in recommendImg" :key="index">
                    <img class="flag" src="./silkBagImg/img/image13.png" alt="">
                    <img class="mainImg" :src="item.src" alt="">
                    <p>{{item.name}}</p>
                    <button>下载阅读</button>
                </div>
            </div>
            <!-- 全部旅游锦囊 -->
            <div class="nullRow2"></div>
            <div class="allSilk row">
                <h4>全部旅游锦囊</h4>
                <div class="nullRow3"></div>
                <h5><span>按更新事件</span><a href="#">最近7天下载量</a></h5>
                <!-- 使用到了vue中是双层循环列表渲染 -->
                <div id="allB" class="allSilkBlock" v-for="(item,index) in  allSilkIInfo" :key="index">
                    <div class="item" v-for="(sitem,sindex) in item" :key="sindex">

                        <img class="flag" src="./silkBagImg/all/image13.png" alt="">
                        <img class="mainImg" :src="sitem.src" alt="">
                        <!-- 遮蔽层 -->
                        <a class="hand" href="">
                            <div class="mask"></div>
                        </a>
                        <div class="nullRow1"></div>
                        <p class="city">{{sitem.city}}</p>
                        <p class="country">{{sitem.country}}</p>
                        <p class="newTime">{{sitem.updateTime}}更新</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </nav>
    </div>

    <!-- 引入vueJS -->
    <script src="./vueJS.js"></script>

    <!-- 初始化swiper -->
    <script>
        var swiper = new Swiper(".swiper-container", {
            sccMode: true,
            // autoplay: true,
            autoplay: {
                disableOnInteraction: false, //增加此属性即可
                delay: 3000,
            },
            loop: true,
            effect: "slide",
            mousewheel: true,
            keyboard: true,
        })
    </script>
</body>

</html>